/* Universal Styles */

:root {
  --font-size: 20px;
  --main-font: "Urbanist";
  --logo-font: "Square Peg";
  --quote-font: "Inria Serif";
  --text-color-dark: hsl(0, 0%, 25%);
  --text-color-light: hsl(0, 0%, 100%);
  --bg-one: hsl(0, 0%, 100%);
  --bg-two: hsl(0, 0%, 85%);
  --accent: hsl(230, 50%, 40%);
  --scaling-factor: 2;
  --min-factor: 0.7;
}

html {
  background-color: var(--bg-one);
  color: var(--text-color-dark);
  font-family: var(--main-font), Helvetica, sans-serif;
  font-size: var(--font-size);
  letter-spacing: 3%;
}

/* Selector Styles */

h1 {
  font-weight: normal;
  --max-font-size: 3em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(3vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

h2 {
  font-weight: 400;
  width: 100%;
  text-align: center;
  --max-font-size: 2em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(2vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

h5 {
  color: var(--text-color-light);
  margin: auto;
  font-weight: normal;
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

q {
  font-family: var(--quote-font);
  font-style: italic;
  font-weight: lighter;
  letter-spacing: normal;
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

a {
  text-decoration: none;
  color: var(--accent);
  transition: all 150ms ease;
}

a:hover {
  text-decoration: underline;
}

a:active {
  opacity: 66%;
}

img {
  object-fit: cover;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

span {
  font-family: var(--main-font), Helvetica, sans-serif;
}

.spacer {
  width: 100%;
  border-bottom: thin solid var(--text-color-light);
}

/* Nav */

nav {
  width: 100%;
  min-width: 400px;
  height: 50px;
  position: fixed;
  top: 0;
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: all 150ms ease-in-out;
}

#logo {
  color: var(--text-color-light);
  font-family: var(--logo-font);
  font-size: 2.5rem;
  letter-spacing: normal;
  transition: all 150ms ease;
}

#logo:hover {
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  gap: 30px;
}

.nav-link button {
  color: var(--text-color-light);
  font-size: 1.2rem;
  font-weight: 300;
  transition: all 150ms ease;
}

.nav-link button:hover {
  text-decoration: underline;
}

.nav-link button:active {
  opacity: 66%;
}

.nav-link i {
  color: var(--text-color-light);
  display: none;
}

/* Header */

header {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.66) 0%,
      rgba(0, 0, 0, 0.66) 100%
    ),
    url("../images/yosemite-tunnel-view.jpg") lightgray 50% / cover no-repeat;
  color: var(--text-color-light);
  min-width: 300px;
  height: 100vh;
  min-height: 600px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: -99;
}

.hero {
  max-width: 35em;
  text-align: center;
  border: 2px solid var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  --max-padding: 2.75em;
  --min-padding: calc(var(--min-factor) * var(--max-padding));
  padding: clamp(
    var(--min-padding),
    calc(2.75vw * var(--scaling-factor)),
    var(--max-padding)
  );
}

.hero p {
  font-family: var(--quote-font);
  font-weight: 200;
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-self: stretch;
}

.fa-chevron-down {
  color: var(--text-color-light);
  position: relative;
  top: 3em;
  font-size: 2em;
  justify-self: flex-end;
  animation: arrow-animation 1.5s ease-in-out infinite;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  background-color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --max-vertical-padding-size: 5em;
  --min-vertical-padding-size: calc(
    var(--min-factor) * var(--max-vertical-padding-size)
  );
  --max-horizontal-padding-size: 2em;
  --min-horizontal-padding-size: calc(
    var(--min-factor) * var(--max-horizontal-padding-size)
  );
  padding: clamp(
      var(--min-vertical-padding-size),
      calc(5vw * var(--scaling-factor)),
      var(--max-vertical-padding-size)
    )
    clamp(
      var(--min-horizontal-padding-size),
      calc(2vw * var(--scaling-factor)),
      var(--max-horizontal-padding-size)
    );
  --max-gap-size: 2.5em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(2.5vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
}

section:nth-child(even) {
  background-color: var(--bg-two);
}

section .spacer {
  border-color: var(--text-color-dark);
}

.section-header {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 1em;
  justify-content: center;
  max-width: 900px;
  width: 100%;
}

/* About */

#about {
  text-align: center;
}

#about img {
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto;
  --max-width-size: 8.75em;
  --min-width-size: calc(var(--min-factor) * var(--max-width-size));
  width: clamp(
    var(--min-width-size),
    calc(8.75vw * var(--scaling-factor)),
    var(--max-width-size)
  );
}

#about article {
  display: flex;
  flex-direction: column;
  max-width: 60ch;
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
  --max-gap-size: 2.5em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(2.5vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
}

.hobbies-container {
  max-width: 600px;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: flex-start;
  justify-content: space-between;
}

.hobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.hobby-icon {
  background: var(--accent);
  color: var(--text-color-light);
  width: 4em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hobby-icon i {
  font-size: 1.5em;
}

#download-cv {
  display: flex;
  align-items: center;
  border: 2px solid var(--accent);
  color: var(--accent);
  border-radius: 200px;
  transition: all 150ms ease;
  --max-vertical-padding-size: 0.75rem;
  --min-vertical-padding-size: calc(
    var(--min-factor) * var(--max-vertical-padding-size)
  );
  --max-horizontal-padding-size: 1.5rem;
  --min-horizontal-padding-size: calc(
    var(--min-factor) * var(--max-horizontal-padding-size)
  );
  padding: clamp(
      var(--min-vertical-padding-size),
      calc(0.75vw * var(--scaling-factor)),
      var(--max-vertical-padding-size)
    )
    clamp(
      var(--min-horizontal-padding-size),
      calc(1.5vw * var(--scaling-factor)),
      var(--max-horizontal-padding-size)
    );
  --max-gap-size: 1.5em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(1.5vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
}

#download-cv:hover {
  background-color: var(--accent);
  color: var(--text-color-light);
}

#download-cv:active {
  opacity: 66%;
}

#download-cv span {
  --max-font-size: 1.2rem;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1.2vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

#download-cv i {
  --max-font-size: 1.2rem;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1.2vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

/* Education */

.schools-container {
  display: flex;
  flex-flow: wrap-reverse row;
  gap: 1rem;
  max-width: 900px;
  width: 100%;
}

.school {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  flex-grow: 1;
  --max-vertical-padding-size: 2em;
  --min-vertical-padding-size: calc(
    var(--min-factor) * var(--max-vertical-padding-size)
  );
  --max-horizontal-padding-size: 1em;
  --min-horizontal-padding-size: calc(
    var(--min-factor) * var(--max-horizontal-padding-size)
  );
  padding: clamp(
      var(--min-vertical-padding-size),
      calc(2vw * var(--scaling-factor)),
      var(--max-vertical-padding-size)
    )
    clamp(
      var(--min-horizontal-padding-size),
      calc(1vw * var(--scaling-factor)),
      var(--max-horizontal-padding-size)
    );
  --max-gap-size: 1.25em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(1.25vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
}

.school img {
  justify-self: center;
  margin: auto;
  --max-width-size: 10em;
  --min-width-size: calc(var(--min-factor) * var(--max-width-size));
  width: clamp(
    var(--min-width-size),
    calc(10vw * var(--scaling-factor)),
    var(--max-width-size)
  );
}

.school h3 {
  --max-font-size: 1.2em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1.2vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.school h4 {
  color: var(--accent);
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.school p {
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

/* Projects */

.projects-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  --max-gap-size: 1.5em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(1.5vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
}

.project {
  background: hsl(0, 0%, 95%);
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap-reverse;
  --max-padding-size: 2em;
  --min-padding-size: calc(var(--min-factor) * var(--max-padding-size));
  padding: clamp(
    var(--min-padding-size),
    calc(2.5vw * var(--scaling-factor)),
    var(--max-padding-size)
  );
  --max-gap-size: 2.5em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(2.5vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
}

.project article {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  max-width: 450px;
  width: 100%;
}

.project h3 {
  --max-font-size: 1.8em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1.8vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.project h4 {
  opacity: 75%;
  font-weight: normal;
  --max-font-size: 1.25em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1.25vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.project p {
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.project button {
  color: var(--accent);
  padding: 0;
  text-align: start;
  transition: all 150ms ease;
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.project button:hover {
  text-decoration: underline;
}

.project button:active {
  opacity: 66%;
}

.project-tools {
  display: flex;
  gap: 0.5em;
}

.project-tools img {
  aspect-ratio: 1;
  --max-width-size: 1.5em;
  --min-width-size: calc(var(--min-factor) * var(--max-width-size));
  width: clamp(
    var(--min-width-size),
    calc(1.5vw * var(--scaling-factor)),
    var(--max-width-size)
  );
}

.project-thumbnail {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  max-width: 310px;
  width: 100%;
}

.project-thumbnail img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.project-thumbnail a {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 1em;
  margin-right: auto;
  color: var(--accent);
  border-radius: 200px;
  align-items: center;
  text-decoration: none;
  border: 2px solid var(--accent);
  transition: all 150ms ease;
  --max-font-size: 1em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.project-thumbnail a:hover {
  background-color: var(--accent);
  color: var(--text-color-light);
}

/* Skills */

.skills-container {
  display: flex;
  flex-flow: wrap row;
  gap: 1.5em 3em;
  max-width: 900px;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.skill {
  width: 125px;
  height: 125px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 5px;
}

.skill img {
  width: 3em;
  aspect-ratio: 1;
}

.skill svg {
  width: 125px;
  height: 100%;
  position: relative;
  top: 0;
}

.skill-details {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 10px;
}

.skill svg,
.skill-details {
  grid-area: 1 / 1 / 1 / 1;
}

/* Contact */

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  --max-gap-size: 1.25em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(1.25vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
}

.contact a {
  display: flex;
  text-decoration: none;
  border: 2px solid var(--accent);
  padding: 5px 20px 5px 5px;
  border-radius: 200px;
  align-items: center;
  transition: all 150ms ease;
  --max-font-size: 1.2em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1.2vw * var(--scaling-factor)),
    var(--max-font-size)
  );
  --max-gap-size: 0.5em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(0.5vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
  --max-right-padding-size: 1em;
  --min-right-padding-size: calc(
    var(--min-factor) * var(--max-right-padding-size)
  );
  --max-rest-padding-size: 0.25em;
  --min-rest-padding-size: calc(
    var(--min-factor) * var(--max-rest-padding-size)
  );
  --right-padding-scaled: clamp(
    var(--min-right-padding-size),
    calc(2vw * var(--scaling-factor)),
    var(--max-right-padding-size)
  );
  --rest-padding-scaled: clamp(
    var(--min-rest-padding-size),
    calc(5vw * var(--scaling-factor)),
    var(--max-rest-padding-size)
  );
  padding: var(--rest-padding-scaled) var(--right-padding-scaled)
    var(--rest-padding-scaled) var(--rest-padding-scaled);
}

.contact a:hover {
  background-color: var(--accent);
  color: var(--text-color-light);
}

.contact-icon {
  display: flex;
  border-radius: 50%;
  background-color: var(--accent);
  color: var(--text-color-light);
  aspect-ratio: 1;
  transition: all 150ms ease;
  --max-width-size: 2rem;
  --min-width-size: calc(var(--min-factor) * var(--max-width-size));
  width: clamp(
    var(--min-width-size),
    calc(2vw * var(--scaling-factor)),
    var(--max-width-size)
  );
}

.contact:hover .contact-icon {
  background-color: white;
  color: var(--accent);
}

.contact-icon i {
  margin: auto;
  font-size: 0.8em;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  padding: 1.5em 0;
  background-color: #333;
  --max-gap-size: 1.5em;
  --min-gap-size: calc(var(--min-factor) * var(--max-gap-size));
  gap: clamp(
    var(--min-gap-size),
    calc(1.5vw * var(--scaling-factor)),
    var(--max-gap-size)
  );
}

.social-media-container {
  display: flex;
  margin: auto;
}

.social-media a {
  aspect-ratio: 1;
  background: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  color: var(--text-color-light);
  transition: none;
  --max-width-size: 2.8rem;
  --min-width-size: calc(var(--min-factor) * var(--max-width-size));
  width: clamp(
    var(--min-width-size),
    calc(2.8vw * var(--scaling-factor)),
    var(--max-width-size)
  );
  --max-font-size: 1.5em;
  --min-font-size: calc(var(--min-factor) * var(--max-font-size));
  font-size: clamp(
    var(--min-font-size),
    calc(1.5vw * var(--scaling-factor)),
    var(--max-font-size)
  );
}

.social-media a:hover {
  text-decoration: none;
}

#facebook:hover {
  background: #4267b2;
}

#instagram:hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

#linkedin:hover {
  background: #0077b5;
}

#github:hover {
  background: #000;
}

/* Animations */

@keyframes arrow-animation {
  50% {
    top: calc(3em + 20px);
  }
  100% {
    top: 3em;
  }
}

/* Media Queries */

@media screen and (max-width: 900px) {
  #logo,
  .nav-link span {
    display: none;
  }

  nav {
    padding: 35px 0;
  }

  .nav-links-container {
    width: 100%;
    justify-content: space-evenly;
  }

  .nav-link i {
    display: inline;
    --max-font-size: 1.5rem;
    --min-font-size: calc(var(--min-factor) * var(--max-font-size));
    font-size: clamp(
      var(--min-font-size),
      calc(1.5vw * 4),
      var(--max-font-size)
    );
  }

  .nav-link button:hover {
    text-decoration: none;
  }
}
